.mini-project-img {
  max-height: 180px;
  width: 180px;
}

.min-project-item:hover {
  border: 2px solid orangered !important;
  box-shadow: 0px 0px 15px 0px gray !important;
}

@media screen and (min-width: 992px) {
  .mini-project-img {
    max-height: 200px;
    width: 200px;
  }
}
