.custom-name-highlight {
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.profile {
  width: 150px;
  box-shadow: 0px 0px 15px 5px gray;
}

.profile:hover {
  width: 160px;
  box-shadow: 0px 0px 15px 0px orangered;
}

.custom-typing-container {
  font-weight: bold;
}

.custom-job-role {
  /* color: orangered; */
  font-weight: bold;
  margin: 0px 5px;
}

.custom-resume-btn:hover {
  background-color: black !important;
  color: white !important;
  border: 1px solid white !important;
}

.greeting {
  color: #0d6efd;
  font-size: 18px;
  font-weight: bold;
}

.greeting-icon {
  border-radius: 50%;
}

.fa-circle-down {
  font-size: 22px;
}

.btn:active {
  background-color: #0d6efd !important;
  border: none !important;
}

@media screen and (min-width: 992px) {
  .custom-typing-container {
    text-align: left;
  }
}
