.custom-navbar-logo {
  font-size: 32px;
  font-family: "Lobster Two", sans-serif;
  color: orangered !important;
  font-style: italic;
}

.nav-link.active {
  color: #0d6efd !important;
  font-weight: bold !important;
}

.nav-link {
  font-weight: bold !important;
  font-family: "Nunito Sans", sans-serif;
}

a {
  text-decoration: none !important;
  border: none !important;
}

@media screen and (min-width: 992px) {
  .nav-link {
    font-size: 17px !important;
  }
  .custom-navbar-logo {
    font-size: 28px !important;
  }
  .nav-link.active {
    border-bottom: 2px solid black !important;
  }
}
