.fwujmm {
  padding: 0% !important;
}
.hIlYuq {
  padding: 0% !important;
}
.jCGVMh {
  min-height: auto !important;
}
.active {
  color: black !important;
  border-bottom: none !important;
}
.fa-graduation-cap {
  color: black;
}
.bOPcbp.using-icon {
  background-color: transparent !important;
}
.fa-graduation-cap {
  font-size: 22px;
}
.hdbrBC {
  margin-left: 15px;
}
.bTBQuh {
  left: 0 !important;
}
@media screen and (min-width: 768px) {
  .jCGVMh {
    width: 450px !important;
  }
}
@media screen and (min-width: 992px) {
  .fa-graduation-cap {
    font-size: 35px;
  }
}
