.contact-form-page {
  min-height: 100vh;
}

.fa-circle-check {
  font-size: 55px;
  color: green;
  margin-bottom: 20px;
}

.custom-home-btn:hover {
  background-color: orangered !important;
  border: transparent;
}
