body {
  background-color: #d1e7dd !important;
}

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0% !important;
}

a {
  text-decoration: none !important;
}
