.contact-title {
  font-size: 32px;
  font-family: "Lobster Two", sans-serif;
}

.contact-icons {
  font-size: 28px;
  color: black;
}

@media screen and (min-width: 992px) {
  .contact-icons {
    font-size: 38px;
  }
}

.contact-icons:hover {
  color: orangered;
  border-bottom: 2px solid black;
}
