.about-container {
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  width: 96% !important;
}

.about-title {
  font-family: "Lobster Two", sans-serif;
}

.sub-titles {
  font-family: "Lobster Two", sans-serif;
}

.skill-item:hover {
  background-color: orangered;
  border: transparent !important;
}

.fa-graduation-cap {
  font-size: 22px;
}

.jCGVMh {
  background-color: transparent !important;
  max-height: 150px !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  margin-left: 15px !important;
}

.bTBQuh {
  background-color: transparent !important;
}

.gSDOzp.using-icon {
  color: black !important;
}

.hIlYuq {
  padding: 0rem !important;
}

.fwujmm {
  padding: 0rem !important;
}

@media screen and (min-width: 992px) {
  .fa-graduation-cap {
    font-size: 32px;
  }
}
